@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventPros</h1>
    <p>To see and attend upcoming events, please log in.</p>
    <p>You don't have an account yet? Sign up right now to get access to all trending events in Bulgaria!</a></p>
</div>
